body {
      margin: 0;
      padding: 0;
}

.navbar {
      display: flex;
      justify-content: center;
      justify-content: space-between;
      align-items: center;
      background-color: #C83B53;
      color: white;
      width: 100%;
}

.navbar span {
      font-size: 1.2rem;
}

.img1 img {
      display: flex;
      width: 2rem;
      height: 2rem;
      margin-left: 0.5rem;
      align-items: flex-start;
}

.img2 img {
      display: flex;
      width: 1.5rem;
      height: 1.5rem;
      margin-right: 0.5rem;
      align-items: flex-end;
}

.dashboard {
      display: flex;
      flex-direction: column;
      /* border: 2px solid black; */
      align-items: center;
}

.rank {
      display: flex;
      flex-direction: column;
      /* border: 2px solid red; */
      width: 28%;
      align-items: center;
}

.rank h4 {
      font-size: 1.5rem;
      margin-bottom: -1rem;
      margin-top: 0;
}

.rank h6 {
      color: grey;
      font-size: 0.7rem;
      margin-top: 0.9rem;
}

.percent {
      /* border: 2px solid black; */
      display: flex;
      /* width: 100%; */
      /* align-items: center; */
      justify-content: center;
      justify-content: space-around;
      margin: 0 1rem;


}

.number {
      margin: 0 3rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
}

.none {
      border: 1px solid grey;
      box-shadow: 0px 0px 1px black;

}

.number img {
      width: 2.5rem;
      height: 2.5rem;
}

.number h5 {
      color: #C83B53;
      font-size: 1.5rem;
      margin: 0;
}

.number span {
      font-weight: 100;
      text-align: center;
}

.graph {
      /* border: 2px solid black; */
}

.slogan h5 {
      margin: 0;
      font-size: 1.2rem;
      color: #979797;
}

.slogan span {
      color: red;
}

.slogan :nth-child(2) {
      font-size: 3rem;
      color: black;
}

.image img {
      width: 80%;
      margin: 0;
}

.weeks {
      /* border: 2px solid red; */
      display: flex;
      justify-content: space-around;
      margin: 0.6rem;
}

.graph>* {
      margin-left: 1rem;
}

.ranks {
      /* border: 2px solid black; */
}

.days {
      display: flex;
      justify-content: space-around;
      background-color: rgb(239, 233, 233);
      font-size: 1rem;
      font-weight: 400;
}

.days>* {
      margin: 0.4rem;
}

.in-people {
      display: flex;
      justify-content: space-evenly;
}

.in-people img {
      margin: 1rem;
      margin-left: 0;
}

.in-people h5 {
      font-size: 1rem;
}

.in-people span {
      color: rgb(112, 101, 101);
      /* margin-top: em; */
}

.in-people h6 {
      font-size: 0.7rem;
}